body {
  margin: 0;
  background-color: #252525;
  color: #fff;
  font-family: sans-serif;
}

button,
.button-lookalike,
::file-selector-button {
  padding: 4px 12px;
  font-size: 14px;
  background-color: rgb(17, 101, 237);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
}
button:hover,
.button-lookalike:hover,
::file-selector-button:hover {
  cursor: pointer;
  filter: brightness(1.1);
}

fieldset {
  border-radius: 5px;
  border-color: #aaa;
  color: #ddd;
}

legend {
  user-select: none;
}

input[type=range].sync-input {
  width: 125px;
}

input[type=number].sync-input {
  width: 55px;
}

.config-label {
  display: block;
  text-align: right;
  user-select: none;
}

.the-main {
  min-height: 100vh;
}

.the-main__content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-between;
  gap: 32px;
  padding: 24px;
}

.the-main__svg-container {
  position: relative;
  font-family: user-custom, sans-serif;
}

.the-main__svg-stretch {
  position: absolute;
  opacity: 0.8;
  user-select: none;
}

.the-main__svg-stretch--bottom {
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: hotpink;
}
.the-main__svg-stretch--bottom:hover {
  cursor: s-resize;
}

.the-main__svg-stretch--right {
  top: 0;
  right: -13px;
  height: 100%;
  width: 10px;
  background-color: rgb(17, 101, 237);
}
.the-main__svg-stretch--right:hover {
  cursor: e-resize;
}

.the-main__svg-stretch--bottom-and-right {
  bottom: -10px;
  right: -13px;
  width: 25px;
  height: 25px;
  background-color: greenyellow;
}
.the-main__svg-stretch--bottom-and-right:hover {
  cursor: se-resize;
}

.the-main__svg {
  position: relative;
  outline: 3px solid #000;
  background-color: #393939;
  border-radius: 5px;
  user-select: none;
}

.svg__path-and-text-group:hover {
  cursor: grab;
}

.svg__path-and-text-group--grabbing:hover {
  cursor: grabbing;
}

.svg__bezier-circle:hover {
  cursor: pointer;
}

.the-main__controls-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 8px;
}

.the-main__outer-group-container {
  display: grid;
  gap: 12px;
  background-color: #111;
}

.the-main__outer-group-container--for-source {
  overflow: auto;
  height: 140px;
}

.the-main__inner-group-container {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 4px 12px 10px;
  background-color: #151515;
}

.focus-button {
  flex-grow: 0;
  padding: 6px;
  display: block;
}

.focus-button--active {
  background-color: hotpink;
}

.crosshair-icon {
  display: block;
}

.the-main__inputs-container {
  display: flex;
  justify-content: center;
  gap: 12px;
  width: 250px;
}

.the-main__inputs-container--single {
  width: auto;
}

.single-input {
  display: block;
  font-size: 16px;
  width: 90%;
}

.inputs-container__span {
  display: block;
  width: 30px;
  flex-shrink: 0;
  text-align: center;
  user-select: none;
}

.the-main__readable-source-container {
  margin: 0;
  width: 300px;
  word-wrap: break-word;
}

.tips-list {
  display: inline-grid;
  gap: 8px;
  padding: 12px;
  list-style-position: inside;
  margin: 0 0 -2px 0;
  background-color: #111;
  border-top: 2px solid black;
  border-right: 2px solid black;
}

.the-footer {
  padding: 12px;
  line-height: 160%;
  font-size: 12px;
  text-align: center;
  background-color: #111;
  border-top: 2px solid black;
}

/*# sourceMappingURL=main.css.map */
