.controls-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 8px;
}

.outer-group-container {
  display: grid;
  gap: 8px;
  align-content: start;
  
  padding: 8px;

  background-color: #151515;
  border: 2px solid #aaa;
  border-radius: 5px;
}

.inner-group-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: max-content;
  gap: 12px;
}

.focus-button {
  flex-grow: 0;
  
  padding: 6px;
  display: block;
}
.focus-button--active {
  background-color: hotpink;
}

.inputs-container__span {
  display: block;
  width: 30px;
  flex-shrink: 0;
  text-align: center;
  user-select: none;
}

.double-input-container {
  display: flex;
  gap: 8px;
}

// @media(min-width: 1280px) {
//   .controls-container {
//     display: grid;
//     grid-template-columns: repeat(2, auto);
//   }
// }