.the-main__controls-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 8px;
}

.the-main__outer-group-container {
  display: grid;
  gap: 8px;
  align-content: start;
  
  padding: 8px;

  background-color: #151515;
  border: 2px solid #aaa;
  border-radius: 5px;
}

.the-main__outer-group-container--for-source {
  overflow: auto;
  height: 140px;
}

.the-main__inner-group-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: max-content;
  gap: 12px;
}

.focus-button {
  flex-grow: 0;
  
  padding: 6px;
  display: block;
}
.focus-button--active {
  background-color: hotpink;
}

.crosshair-icon {
  display: block;
}

.the-main__double-input-container {
  display: flex;
  gap: 12px;
}

.single-input {
  display: block;
  font-size: 16px;
  width: 90%;
}

.inputs-container__span {
  display: block;
  width: 30px;
  flex-shrink: 0;
  text-align: center;
  user-select: none;
}

.the-main__readable-source-container {
  margin: 0;
  width: 300px;
  word-wrap: break-word;
}

// @media(min-width: 1280px) {
//   .the-main__controls-container {
//     display: grid;
//     grid-template-columns: repeat(2, auto);
//   }
// }