.inset-label {
  position: relative;

  display: block;

  & > span {
    position: absolute;
    top: 0;
    left: 4px;
    font-size: 12px;
    color: #ddd;
  }

  & > input {
    padding-left: 20px;
  }
}