.path-ui {
  background-color: #151515;
  border: 2px solid #aaa;
  border-radius: 5px;

  h3 {
    margin: 0;
  }
}

.path-ui__points-list {
  margin: 0;
  padding: 0;
  max-height: 70px;
  overflow: auto;

  border: 1px solid #aaa;
  list-style: none;
}

.path-ui__point {
  display: flex;
  gap: 8px;
}