@use 'var';

.path-controls {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;

  padding: 0 24px 24px;
  max-width: calc(100% - 24px);
  overflow: auto;
}

.path-ui {
  display: grid;
  gap: 8px;

  flex-shrink: 0;

  width: 200px;
  padding-bottom: 4px;

  background-color: #151515;
  border: 2px solid var.$ui-border-color;
  border-radius: 5px;
}

.path-ui__top {
  display: flex;
  justify-content: space-between;
  padding: 4px 0 0 4px;

  position: relative;
}

.path-ui__remove-path-button {
  position: absolute;
  top: 0;
  right: 0;

  border-radius: 0 3px 0 3px;
  background-color: rgb(176, 50, 40);
}

.path-ui__heading {
  margin: 0;

  font-size: 14px;
  line-height: 130%;
  color: #ddd;

  user-select: none;
}

.path-ui__color-indicator {
  flex: 0 0 11px;

  width: 11px;
  height: 11px;
  border-radius: 50%;
}

.path-ui__points-list {
  display: grid;
  gap: 6px;

  margin: 0;
  padding: 6px 4px;
  max-height: 100px;
  overflow: auto;

  border: 1px solid var.$ui-border-color;
  border-left: none;
  border-right: none;
  list-style: none;
}

.path-ui__point {
  display: flex;
  justify-content: center;
  gap: 8px;

  & > * {
    flex-grow: 1;
  }
}

.path-ui__inputs-container {
  padding: 0 4px;
}

.path-ui__text-area-container {
  padding: 0 4px;
}

.path-ui__text-area {
  width: 100%;
  min-height: 20px;
  max-height: 80px;
  box-sizing: border-box;
}

.focus-button {
  flex-grow: 0;
  
  display: block;
  padding: 1px 8px;
  font-size: 12px;
}
.focus-button--active {
  background-color: hotpink;
}

// div.top-scrollbars {
//   transform: rotateX(180deg);
// }
// div.top-scrollbars * {
//   transform: rotateX(180deg);
// }