@use 'var';

.svg-ui {
  display: grid;
  gap: 8px;
  align-content: start;
  
  width: 300px;
  box-sizing: border-box;
  padding: 8px;

  background-color: #151515;
  border: 2px solid var.$ui-border-color;
  border-radius: 5px;
}

.svg-ui__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: max-content;
  gap: 12px;
}

.inputs-container__span {
  display: block;
  width: 30px;
  flex-shrink: 0;
  text-align: center;
  user-select: none;
}

.double-input-container {
  display: flex;
  gap: 8px;
}

.svg-ui__buttons {
  display: flex;
  flex-direction: column;
  gap: 4px;
}